* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
body{
    background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
    padding: 40px;
    margin: 0.5em;

}
.flex{
    display: flex;
 
}
/*
*{   border: solid 1px red;}*/



#formulario{
    margin: auto;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, 
    rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
    width: 700px;
    height: 600px;
    border-bottom: 15px solid black;
    border-radius: 0.2em;


}

.encabezadoForm{

    width: 100%;
    height: 30px;
    font-weight: bolder;
    font-size: 30px;
    
}

.buscarForm{

    width: 100%;
    height: 85px;
    padding: 25px;
    margin: auto;
    display: block;
    padding-right: 35px;
    justify-content: center;

    

}
 
    .inputBuscar{
 
        height: 30px;
        width: 150px;
        border: 2px solid black;
        border-radius: 1em;
        display: block;
        display: flex;
        margin: 0.5em;
        justify-content: center;
        margin: auto;
        
      




    }

    .inputBuscar:focus{
        outline: none;
    }




.resultadoForm{
    
    width: 100%;
    height: auto;
    padding: 5px;

}

    .lblResultados {
        width: 200px;
        padding: 20px;
    }

    .lblDomicilio{
        width: 85px;
        padding: 14px;
        margin: 0.4em;
     
        

    }

    .inputDomicilio{
        height: 20px;
        width: 270px;
        margin-bottom: 19px;
        padding: 2px;
        display: block;
        margin: auto;




    }
    .inputDomicilio:hover{
        cursor:pointer;
      background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, 
        rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );;
    }

    .inputResultados{
        height: 30px;
        width: 356px;
        padding: 2px;
        margin: auto;

    }
    .inputResultados:hover{
        cursor: pointer;
        background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, 
        rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );;
    }
        

    .divInputs{
        width: auto;
       margin-top: 19px;

    }




/*BOTON SARRISIMO*/

.btnBuscar{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    padding: 2px;
    margin: 0.5em;
 

 

}

.btnBuscar:hover{
    cursor: pointer;
    background-image: linear-gradient( 111.6deg,  rgba(174,68,223,1) 27.3%, rgba(246,135,135,1) 112.7% );
    transition: all 0.35s;


}
